* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);    
}

/* this was added to keep the resume part of the nav bar from getting cut off from the others. Once it reaches a width of 839px on a web browser it'll take away the nav bar from visible view  */
@media screen and (max-width: 839px) {
    nav {
      display: none;
    }
}

.mainBody {
    max-width: 700px;
    margin: 0 auto;
}

header {
    color: white;
    background-image: url('../images/header.jpg');
    height: 300px;
    width: 100%;
    padding: 40px;
}

header h1 {
    text-shadow: 2px 2px 8px #aaaaaa;
    justify-content: center;
    font-size: 45px;
    font-family: 'signatrue', 'roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
}

.about {
    margin-bottom: 100px;
}

.project-links {
    color: white;
    text-decoration: none;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'neoteric', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 25px;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-family: 'neoteric','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* won't display the li for class="active  */
.nav-link.active {
    display: none;
}

/* added these next couple lines so it would show a darker block around the text on the nav when hovering over it */
.nav-link:hover + .nav-link.active {
    display:block; 
}

.nav-link.active, .nav-link:hover {
    background: rgb(245, 245, 245);
    transition: .5s;   
}

/* increased the nav height for visual appeal */
nav {
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255);
} 

.nav-list {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 13px;
    border-style:groove;
}

nav ul li a {
    color:black;
    padding: 7px 13px;
    border-radius: 2px;
    text-align: center;
}

/* adding this ensured that all the text in the nav bar was spaced out where I thought it looked best */
li {
    margin: 0 4rem;
}

p {
    font-family: 'roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

.recentPicture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 500px;
    width: 100%;
    border-style: groove;
}

.project-name {
    text-align: center;
    display: block;
    overflow: auto;
    background-image: url('../images/header.jpg');
    padding:40px;
    margin-bottom: 100px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 20px;
}


.project-images {
    display: block;
    max-height: 30rem;
    width: 100%;
    border-style: groove;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* keeps the project images the same size */
@media screen and (max-width: 839px) {
    .project-images {
      max-height: 20rem;
    }
}

.diamond {
    margin: 10px;
    color:white;
}

#email {
    margin-bottom: 60px;
}

/* for the next few lines, I decided to add a form that I could mess around with later once we learn how to in class. I left it in because I thought it looked pretty nice */
form { 
    margin: 0 auto; 
    width:250px;
    }

label {
    font-family: 'roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form input {
    padding: 10px;
    width: 270px;
}

/* added this because I can't get a form to work yet. I'm going to add to these references once I get my LinkedIn profile finished */
.contactFooter {
    display: flex;
    justify-content: center;
    padding: 10px 13px;
}

.contactFooter li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    font-family: 'roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black;
}

.footer-links {
    color: black;
    text-decoration: none;
}

